:root {
  --fir-bac: #dad7ca;
  --sec-bac: #D1CA98;
  --first-bac: #EDBF85;
  --text: #7B3E19;
  --text2: #482728;
}

body {
  background-color: var(--first-bac);
}
h1, h2, h3 {
  color: var(--text2);
  text-align: center;
}
p {
  color: var(--text2 );
  font-size: 1rem;
  line-height: 1.5;
  justify-content: center;
  display: flex;
  align-items: left;
  text-align: left; 
  padding: 0 20px;
}
button {
  background-color: #dad7ca;
  color: var(--text);
  border: none;
  padding: 5px 10px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
/* Style for the ingredients field */
ul:nth-of-type(1) {
  background-color: var(--sec-bac);
  padding: 25px 35px;
  border-radius: 8px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  list-style-type: disc;
  list-style-position: inside;
  
}
ul:nth-of-type(1) li {
  text-align: left;
  margin: 8px 0;
  color: var(--text2 );
}

/* Style for the instructions field */
ul:nth-of-type(2) {
  background-color: #dad7ca;
  padding: 25px;
  border-radius: 8px;
  width: 90%;
  margin: 20px auto;
  list-style-type: none;
  
}

ul:nth-of-type(2) li {
  margin: 10px 0;
  text-align: left;
  line-height: 1.5;
  color: var(--text2 );
}

/* Style for the comments field */
ul:nth-of-type(3) {
  padding: 0;
  margin: 20px auto;
  width: 90%;
  list-style-type: none;
}

ul:nth-of-type(3) li {
  background-color: var(--sec-bac);
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  text-align: center;
  color: var(--text2 );
}